.code-container {
    resize: both;
    overflow: hidden;
    margin: auto;
    width: 80vw;
    height: 80vh;
    min-width: 420px;
    min-height: 255px;
    position: relative;
    --glow-margin: 720px;
    filter: drop-shadow(0 0 75px rgb(128 0 255 / 0.25));
}

.code-container::before {
    content: attr(content);
    position: 90px;
    bottom: 90px;
    right: 90px;
    z-index: 999;
    color: rgb(255 200 255 / 0.5);
    text-shadow: 0 0 12px rebeccapurple;
    letter-spacing: 0.1em;
}

.code-container::after {
    content: "";
    background: linear-gradient(
        to right,
        transparent,
        black 25px, black 110px,
        transparent 110px 175px,
        
    );
}