<!DOCTYPE html>
<html>
    <head>
        <title>My Lovely Laboratory</title>
        <link href='https://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
        <link href="/css/laboratory.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <hgroup>
                <h1>List Experiment Room</h1>
                <h2>List Challenge Using Golang</h2>
            </hgroup>
        </header>
        <section class="train">
            <dl class="list beginner">
                <dt>Beginner</dt>
                <dd><a href="#">Bit 2 Dec</a></dd>
            </dl>
            <dl class="list intermediate">
                <dt>Intermediate</dt>
                <dd><a href="#">Bit Masks</a></dd>
            </dl>
            <dl class="list advanced">
                <dt>Advanced</dt>
                <dd><a href="#">Battleship-Bot</a></dd>
            </dl>
            <a href="#" class="toggle">Toggle</a>
        </section>
        <div class="warning">
            <div class="message">
                <h1>CSS Not Load Properly Sorry</h1>
                <p>Browser Not Support</p>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/laboratory.js"></script>
    </body>
</html>